<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="rocktechnolabs" translate="label" sortOrder="90">
            <label>Rocktechnolabs</label>
        </tab>
        <!-- <section id="CLP"  showInDefault="1">
            <tab>rocktechnolabs</tab>
            <label>CLP</label>
            <resource>Rocktechnolabs_CLP::config_Rocktechnolabs_clp</resource>
            <group id="module"  showInDefault="1">
                <label>Module</label>
                <field id="clp" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled CLP</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
			</group>
        </section> -->
	</system>
</config>
