<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
		<add id="WTC_Career::career" title="Career" module="WTC_Career" sortOrder="20" parent="WTC_Bsc::parent" action="career/career" resource="WTC_Career::career"/>
    </menu>
</config>