<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="mageworx_giftcards" instance="MageWorx\GiftCards\Observer\CheckoutSubmitAllAfterObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="mageworx_giftcards_sales_order_save_after" instance="MageWorx\GiftCards\Observer\Adminhtml\SalesOrderSaveAfterObserver" />
    </event>
</config>
