<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Multishipping\Helper\Data">
        <plugin
            name="MageWorx_GiftCards::ChangeMultishippingCheckoutAvailability"
            type="MageWorx\GiftCards\Plugin\ChangeMultishippingCheckoutAvailability"
            sortOrder="1"
            disabled="false"
        />
    </type>
</config>
