<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mageworx_giftcards" frontName="mageworx_giftcards">
            <module name="MageWorx_GiftCards" />
        </route>
    </router>
</config>
