<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="cna_customers_donwloaders" resource="Cna_Catalogue::grid" title="Our Catalog" action="our/index/index" module="Cna_Catalogue" sortOrder="10" parent="Magento_Backend::stores" /></menu>
</config>
