<!--@subject {{trans "Catalog for You From %store_name"   store_name=$store.getFrontendName()}}@-->

{{template config_path="design/email/header_template"}}
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">

                    <span>Hi {{trans   "%myVar" myVar=$data.name}}  {{trans "Thank you for catalog request" }}</span>
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <!-- [ Header starts here] -->
                        <tr>
                            <td valign="top" style="position:relative">
						        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src={{trans "%myVar" myVar=$data.template}} alt="{{var logo_alt}}"  class="template"  width="100%" height="70%" border="0"/></a>
								<span class="codeset" id="codeset"  style="color:#000;position:absolute; left:25%; top:45%;font-weight: bolder; font-size: 3em; "></span>
                            </td>
                        </tr>
                        <!-- [ Header ends here] -->
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top">
                              <a href="{{trans '%myVar' myVar=$data.pdf}}"> Download My Catalog </a>
                                 <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">

                                 
                                 {{trans "Click to download"}} 
                                  </p>
                                 
                        
								  
                            </td>
                        </tr>
                        <!-- [middle ends here]-->
                        <!-- [Footer content starts here] -->
                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                        </tr>
                        <!-- [Footer content ends here] -->
                    </table>
                </td>
            </tr>
        </table>
    </div>
{{template config_path="design/email/footer_template"}} <!--footer of template-->