<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <layered_navigation>
            <general>
                <enable>1</enable>
                <allow_multiple>1</allow_multiple>
                <enable_shop_by>0</enable_shop_by>
            </general>
        </layered_navigation>
    </default>
</config>
