<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mageplaza_LayeredNavigation::layer" title="Layered Navigation" module="Mageplaza_LayeredNavigation" sortOrder="100" resource="Mageplaza_LayeredNavigation::layer" parent="Mageplaza_Core::menu"/>
        <add id="Mageplaza_LayeredNavigation::configuration" title="Configuration" module="Mageplaza_LayeredNavigation" sortOrder="10" action="adminhtml/system_config/edit/section/layered_navigation" resource="Mageplaza_LayeredNavigation::configuration" parent="Mageplaza_LayeredNavigation::layer"/>
    </menu>
</config>
